# autotools stuff
aclocal.m4
autom4te.cache
configure
config.log
config.status
depcomp
install-sh
Makefile
Makefile.in
missing
.deps
*.o     
perf/*.o
test/*.o
AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
g++
gcc

# generated binaries
perf/perf-*
test/*_test
