# autotools stuff
aclocal.m4
autom4te.cache
configure
config.log
config.status
depcomp
install-sh
Makefile
Makefile.in
missing
.deps
*.o
compile
test-driver

# generated binaries
perf/perf-*
test/*_test

# emacs backup files
*~
